**/private/*
**/secrets/*

data/*
!data/readme.md

models/*
!models/readme.md

settings.py
settings.R
.env

__pycache__
venv
.venv
.idea
.ipynb_checkpoints

# scripts/web_detection/*run.py

secrets/*
.vscode/*