
/* Mode-specific adjustments */

.hide {
    display: none;
}

/** Start stage **/
.stage-start.mode-geturl .show-stage-start.show-mode-geturl,
.stage-start.mode-getimg .show-stage-start.show-mode-getimg {
    display: flex;
}

.stage-start .hide-stage-start {
    display: none;
}

/** Select stage **/
.stage-select.mode-geturl .show-stage-select.show-mode-geturl,
.stage-select.mode-getimg .show-stage-select.show-mode-getimg {
    display: flex;
}

.stage-select.stage-select-column .show-stage-select-column {
    display: flex;
}

.stage-source-csv .show-stage-source-csv,
.stage-source-folder .show-stage-source-folder {
    display: flex;
}

.stage-source-csv .show-stage-source-csv,
.stage-source-folder .show-stage-source-folder {
    display: flex;
}

/** Fetch stage **/
.stage-fetch .show-stage-fetch {
  display: flex;
}

/** Ready stage **/
.stage-ready .show-stage-ready {
  display: flex;
}

.stage-ready.stage-ready-zip button.show-stage-ready-zip,
.stage-ready.stage-ready-csv button.show-stage-ready-csv {
    display: inline-block;
}
